@model eCommerce.Models.Table.Cliente

@{



    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdPessoa" />

            @(Model.IdPessoaNavigation.PessoaFisica != null ?
            await Html.PartialAsync("ClientePessoaFisica") :
            await Html.PartialAsync("ClientePessoaJuridica"))

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsPreferencial" />
                    @Html.DisplayNameFor(model => model.IsPreferencial)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" onclick="return formatarCpf();" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var cpf = $('#IdPessoaNavigation_CpfCnpj').val();
        if (cpf.length < 11) {
            var zerosCpf = '0'.repeat(11 - cpf.length);
            cpf = zerosCpf + cpf;
        }
        $('#Cpf').val(cpf);
        $('#Cpf').mask('000.000.000-00', { reverse: true });
    });

    function formatarCpf() {
        debugger;
        var cpfNumero = $('#Cpf').unmask().val();
        $('#IdPessoaNavigation_CpfCnpj').val(cpfNumero);
        return true;
    }

</script>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var cnpj = $('#IdPessoaNavigation_CpfCnpj').val();
        if (cnpj.length < 14) {
            var zerosCnpj = '0'.repeat(11 - cnpj.length);
            cnpj = zerosCnpj + cnpj;
        }
        $('#Cnpj').val(cnpj);
        $('#Cnpj').mask('00.000.000/0000-00', { reverse: true });
    });

    function formatarCpf() {
        debugger;
        var cnpjNumero = $('#Cnpj').unmask().val();
        $('#IdPessoaNavigation_CpfCnpj').val(cnpjNumero);
        return true;
    }

</script>


}
